body {
 background-color: #fcfcfc; 
 margin: 0;
 padding: 0;
 display: flex;
 flex-direction: column; 

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 32px 0 40px;
    min-height: 80vh;
    
}
.login-container {
    width: 350px;
    margin-top: 12px;
}
.login-box {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    padding: 40px 40px 20px;
    text-align: center;
    margin-bottom: 10px;
}

.logo {
    font-size: 45px;
    font-weight: 400;
    margin: 0;
    line-height: 48px;
    margin-bottom: 40px;
}

.login-form {
    width: 100%;
}

.input-group{
    margin: 6px
}

form input {
    width: 100%;
    padding: 9px 8px 7px 8px;
    background-color: #fcfcfc;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    font-size: 12px;
    font-weight: lighter;
    outline: none;
}

form input:focus {
    border-color: gray;
}

form input::placeholder {
    color: gray;
    opacity: 1;
}

.login-button {
    width: 100%;
    background-color: #818efb;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-top: 8px;
    margin-left: 10px;
}

.divider {
    display: flex;
    align-items: center;
    margin:18px 0;
    height: 15px;
}

.divider-line {
    flex: 1;
    height: 1px;
    background-color: #dbdbdb;
}
.divider-text {
    margin: 0 18px;
    font-size: small;
    font-weight: lighter;
    color: gray;
}

.facebook-login {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0195f6;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.facebook-login i {
    font-size: large;
    margin-right: 8px;
}

.forgot-password {
    color: #042560;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.signup-section {
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    padding: 8px;
    text-align: center;
    color: #262626;
}

.signup-section a{
    text-decoration: none;
}

.footer {
    width: 100%;
    padding: 0;
    }

.footer-links {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-links a {
    text-decoration: none;
    color: #8e8e8e;
    margin: 0 8px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-bottom: 28px;
    color: #8e8e8e;
    font-size: 12px;
}

.language-selector {
    display: flex;
    align-items: center;
    margin-right: 16px;
    }

#language-selector {
    background: transparent;
    border: none;
    color: #8e8e8e;
    font-size: 12px;
}

img {
    margin-bottom: 30px;
}